body {
    font-family: "Montserrat", sans-serif;
    background: #eceee5;
  }
  
  header {
    background: #a020f0;
    padding: 20px 0;
  }

  
  nav {   
    top: 110px;
    right: 0;
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin: 2rem 1rem;
  }
  
  nav ul {
    margin-top: 1rem;
  }

  nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
 
  #title {
    color: #20263f;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h3 {
    color: #20263f;
    font-family: "Dosis", sans-serif;    
  }

  #HP1_desejo, #HP1_lendo, #HP1_lido{
    background: #a948e6;
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 2px 2px rgb(106, 26, 138);
    margin-left: 1rem;
    } 

.btnAdd {
    background-color: #a948e6;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
input[type=search] {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 6px;
  font-size: 16px;
}

.addComentario{
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=submit] {
  background-color: rgb(191, 30, 255);
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

}

.caixa-comentarios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e4e4;
    margin: 3px;
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
}

.caixa-comentarios button {
    color: red;
    border: hidden;
    outline: none !important;
    cursor: pointer;
}


  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    padding-right: 1rem;
  }  
  
  .cards__single {
    background: #a020f0;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;    
    width: 30%;
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    text-align: center;
    -webkit-transition: transform 0.6s;
    transform-style: preserve-3d;
    transition: 0.5s;
    -webkit-transition: 0.5s;    
    transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
  }

  .cards__single{
    margin-left: 1rem;
  }
  
  .cards__image {
    text-align: center;
    width: 100%;
    border-radius: 16px;
  }
  
  .cards__single.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  
  .cards__artist{
      font-weight: bold;
      margin-top: 1rem;
      font-size: 12px;
      
  }
  .cards__artist,
  .cards__album {
    color: #20263f;

  }
  
  .cards__front img {
    margin: 0;
    height: auto;
  }
  
   
  h2 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 12px;

  }
  
  p {
    line-height: 21px;
  }
  
  .cards__front,
  .cards__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  .cards__front {
    height: 100%;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
  
  .cards__back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    top: 10px;
    color: #000000;
  }
  
  .cards__back p{
      color: #000000;
  }
  
  .autor {
    font-size: 30px;
      margin-bottom: 20px;   
      margin-top: 10px;
  }
  .cards__year {
      margin-top: 50px;
  }

  .invisivel {
    display: none;
  }

  .btn.btn-info.btn-lg.btn_modal{
    background: transparent;
    font-size: 10px;
    width: 90%;
    border: none;
    margin-right: 1rem;
  }
  
  
   /*Desktop*/
  /* nav a:hover {
    color: #7412b1;
    text-decoration: underline;
  } */

