* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Open Sans', serif;
  }
  
  .box{
    width: 100%;
    height: auto;
    background: #A020F0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }  

  .btnAdd {
      background-color: #A020F0;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
  
  .todo-box, .caixa-lista, .caixa_lidos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e4e4;
    margin: 3px;
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
    
  
  }
  
  .todo-box button, .caixa-lista button, .caixa_lidos button {
    color: red;
    border: hidden;
    outline: none !important;
    cursor: pointer;
  }
  
  .listas {   
    margin-top: 2rem;   
  }
  
   .livrosDesejados, .livrosLidos, .livrosLendo{
    width: 90vw;
    height: auto;
    margin: 1rem 1rem;
    border: 1px solid #A020F0;
  }
    
  h3 {
    text-align: center;
  }
  
  .container, .espaco, .espaco_lidos{
    margin-top: 1rem;
  }

  /* Autocomplete search*/
   
  .desejadosAdd, .campo__busca-desktop, .lidosAdd{  
    height: 30px;
    width: 40%;
  }

  
  input[type=search] {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  
  input[type=submit] {
    background-color: rgb(191, 30, 255);
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    text-align: center;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;   
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  .formAdd, .campo_pesquisar, .addLidos{
    display: none;

  }

 .displayDesejados{
   display: block;
 }

 .displayLendo{
  display: block;
}

.displayLido{
  display: block;
}



.qntTotais{
  display: flex;
}

.welcome{
  text-align: center;
}

.qntDesejados, .qntLendo{
  margin-left: 1rem;
  text-align: center;
}

.qntLidos {
  text-align: center;
}

.lidosTotal, .lendoTotal, .desejadosTotal{
  margin-top: 1rem;
  margin-bottom: 0;
}



.add_coment{
  display: none; 
}
