body {
    font-family: "Montserrat", sans-serif;
    background: #eceee5;
  }
  
  header {
    background: #a020f0;
    padding: 20px 0;
  }
  .box {
    width: 940px;
    position: relative;
    margin: 0 auto;
  }
  
  nav {
    position: absolute;
    top: 110px;
    right: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 0 0 15px;
  }
  
  nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
  nav a:hover {
    color: #7412b1;
    text-decoration: underline;
  }

  #title {
    color: #20263f;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 50px;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h3 {
    color: #20263f;
    font-family: "Dosis", sans-serif;
    
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    perspective: 1000px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .cards__single {
    background: #a020f0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    width: 80%;
    border-radius: 16px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    text-align: center;
    -webkit-transition: transform 0.6s;
    transform-style: preserve-3d;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    position: relative;
    transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
  }
  
  .cards__image {
    text-align: center;
    width: 100%;
    border-radius: 16px;
  }
  
  .cards__single.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  
  .cards__artist{
      font-weight: bold;
      margin-top: 15px;
      
  }
  .cards__artist,
  .cards__album {
    color: #20263f;
    font-size: large;
  }
  
  .cards__front img {
    margin: 0;
    height: 250px;
  }
  
  .cards__album {
    font-style: italic;
  }
  
  h2 {
    margin: 0;
    text-align: center;
    font-weight: bold;
  }
  
  p {
    line-height: 21px;
  }
  
  .cards__front,
  .cards__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  .cards__front {
    height: 100%;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
  
  .cards__back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    top: 10px;
    color: #000000;
  }
  
  .cards__back p{
      color: #000000;
  }
  
  .autor {
      margin-bottom: 20px;   
      margin-top: 10px;
  }
  .cards__year {
      margin-top: 50px;
  }

  .invisivel {
    display: none;
  }
  
  @media (min-width: 768px) {
    .cards {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      position: relative;
      perspective: 1000px;
      align-items: stretch;
    }
    .cards__single {
      width: 20%;
    }
  }
  