* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.bio {
    margin: 0;
    background-color: #A020F0;
}



.config {
       
    margin: 1rem 1rem;
    height: 100%;
}



.welcome, .email{
    text-align: center;
    font-size: large;
}

a#modal.btn.btn-info.btn-lg{
    border: none;
    background: transparent;
}

.logout{
    color: white;
    font-size: 18px;
}

.sair{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
}