* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.bio {
    margin: 0;
    background-color: #A020F0;
}

.grid {
    display: grid;
    grid-template-columns: [config] 50% [qntTotais] 50%
}

.config {
    grid-column: config;
    border: 1px solid #A020F0;
    border-radius: 8px;
    margin: 1rem 1rem;
    height: 100%;
}


.qntTotais {    
    grid-column: qntTotais;
    border-radius: 8px;
    margin: 1rem 1rem;
    height: 100%;
}

.welcome, .email{
    text-align: center;
    font-size: large;
}

.btn{
    margin-top: 100%;
}