<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Listas</title>
    <link href="../views/listasUser.html">
    <!-- css -->
    <link rel="stylesheet" href="../style/listasUser.css">
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- fontAweosum -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- googleFonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Tangerine|Lato|Gamja+Flower|Open+Sans|Roboto+Slab|Indie+Flower|Lobster|Open+Sans|Kosugi+Maru">
</head>

<body>

  <header class="box">
    <div class="header">
        <h3 class="welcome">Olá, <span id="username"></span></h3>
        <h5 class="welcome">Aqui estão suas listas</h5>
    </div>
    
    <div class="qntTotais">

      <div class="qntLidos">
        <p class="lidosTotal"></p>
        <p>Livros lidos</p>
      </div>

      <div class="qntLendo">
       <p class="lendoTotal"></p>
       <p>Livros em leitura</p>
     </div>

     <div class="qntDesejados">
       <p class="desejadosTotal"></p>
       <p>Livros em espera</p>
     </div> 

     </div>
  </header>

    
<div class="listas">

    <div class="livrosDesejados" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h3>Quero ler! <i class="fas fa-plus icone-adicionar"></i></h3> 

      <div class="formAdd">
        <form autocomplete="off" id="form">       
          <input type="search" class="desejadosAdd" id="todos" placeholder="Busque pelo título" required>          
          <input type="submit" class="btnAdd" value="Adicionar">  
      </form>
      </div>  

    <div class="container todo-container" id="todo-container" draggable="true" ondragstart="drag(event)"> <!-- Itens --> </div>

    </div>

   
    <div class="livrosLendo" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h3>Estou lendo! <i class="fas fa-plus icone-adicionar-lendo"></i></h3>  

      <div class="campo_pesquisar">
        <form autocomplete="off" id="campo">
        <input type="search" class="campo__busca-desktop" id="lendo" placeholder="Busque pelo título" required> 
        <input type="submit" class="btnAdd" value="Adicionar">
      </form>
        </div>

        <div class="espaco lista-espaco" id="lista-espaco" draggable="true" ondragstart="drag(event)"></div>

    </div>

    
 
   <div class="livrosLidos" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3>Já li!<i class="fas fa-plus icone-adicionar-lido"></i></h3>

    <div class="addLidos">
      <form autocomplete="off" id="campo_lidos">
      <input type="search" class="lidosAdd" id="lido" placeholder="Busque pelo título" required> 
      <input type="submit" class="btnAdd" value="Adicionar">
    </form>
      </div>

      <div class="espaco_lidos lista-espaco_lidos" id="lista-espaco_lidos" draggable="true" ondragstart="drag(event)">      
      </div>     
   </div>
  </div>


   <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-firestore.js"></script>


    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
          apiKey: "AIzaSyAhbDzN276AmUuofyfq8UGk0lvRl9bf5oI",
          authDomain: "bookhour-35976.firebaseapp.com",
          projectId: "bookhour-35976",
          storageBucket: "bookhour-35976.appspot.com",
          messagingSenderId: "27768291597",
          appId: "1:27768291597:web:a4ee4b37f8faf267b67044",
          measurementId: "G-47C0P0B0LP"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        const auth = firebase.auth();
        const fs = firebase.firestore();
        const db = firebase.firestore();
      </script>

    

    <script src="../javascript/searchSuggestion.js"></script>
    <script src="../javascript/drag&drop.js"></script>


    <script src="../javascript/ListasUser.js"></script>
    <script src="../javascript/counter.js"></script>

    <script src="../javascript/livrosLendo.js"></script>

    <script src="../javascript/livrosLidos.js"></script>
    
    <script src="../javascript/listasDesejados_geral.js"></script>

    <script src="../javascript/inputAddLivro.js"></script>
</body>

</html>
