<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/lista-livros.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

</head>

<body>
    <header>
        <div class="box">
            <h1>
                <img src="../img/logo1.png" alt="Logo da Book Hour" style="height: 230px;">
            </h1>
            <nav>
                <ul>
                    <li><a href="lista-livros.html">Home</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="./listasUser.html">Minhas listas</a></li>
                </ul>
            </nav>
        </div>
        </header>

<main>
  
  <div class="seila">
    <h1 tabindex="0" id="title">Lista de livros</h1>

    <h3>Procure pelo nome do livre</h3>
    <label for="filtrar-tabela">Filtre:</label>
		<input type="text" name="filtro" id="filtrar-tabela" placeholder="Digite o nome do livro">
  </div>
    <div class="cards">  

      <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/HP.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Harry Potter e a  <br> Pedra Filosofal<br> 1977</h1>

          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
          </div>
        </div>

        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/HP2.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Harry Potter e o <br> cálice de fogo<br> 1977</h1>

          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
          </div>
        </div>

        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/HP3.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Harry Potter e a <br> Câmara Secreta<br> 1977</h1>

          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
          </div>
        </div>

        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/HP4.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Harry Potter e a <br> Ordem da Fênix<br> 1977</h1>

          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
          </div>
        </div>

        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/HP5.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Harry Potter e o <br> Prisioneiro de Azkaban<br> 1977</h1>

          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
          </div>
        </div>

        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/HP6.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Harry Potter e as <br> Relíquias da Morte<br> 1977</h1>

          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
          </div>
        </div>

        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/HP7.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Harry Potter e o <br> Enigma do Príncipe <br> 1977</h1>

          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
          </div>
        </div>
  
        
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/tortoArado.jpg"
              alt="Capa do livro: 'Torto Arado'"
            />
            <h1 class="cards__artist" tabindex="0">Torto Arado <br> 2017</h1>            
          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Itamar Vieira Junior</p>
            <p>Nas profundezas do sertão baiano, as irmãs Bibiana e Belonísia encontram uma velha e misteriosa faca na mala guardada sob a cama da avó. Ocorre então um acidente. E para sempre suas vidas estarão ligadas ― a ponto de uma precisar ser a voz da outra.</p>
          </div>
        </div>
  
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/homemBabilonia.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">O homem mais rico da Babilônia <br> 2017</h1>
          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): George S. Clason</p>
            <p>O homem mais rico da Babilônia é um clássico sobre como multiplicar riqueza e solucionar problemas financeiros. Baseando-se nos segredos de sucesso dos antigos babilônicos ― os habitantes da cidade mais rica e próspera de seu tempo ―, George S. Clason mostra soluções sábias e muito atuais para evitar a falta de dinheiro.</p>
          </div>
        </div>
  
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/mulheresLobos.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Mulheres que correm com os lobos <br> 2018</h1>
           
          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Clarissa Pinkola Estés</p>
            <p>Estés mostra como a natureza instintiva da mulher foi sendo domesticada ao longo dos tempos, num processo que punia todas aquelas que se rebelavam. Segundo a analista, a exemplo das florestas virgens e dos animais silvestres, os instintos foram devastados e os ciclos naturais femininos transformados à força em ritmos artificiais para agradar aos outros. </p>
          </div>
        </div>
  
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/garotaLago.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">A garota do lago <br> 2017</h1>
           
          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Charlie Donlea</p>
            <p>Duas semanas atrás, a estudante de direito Becca Eckersley foi brutalmente assassinada em uma dessas casas. Filha de um poderoso advogado, Becca estava no auge de sua vida. </p>
          </div>
        </div>
  
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/PJ1.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Percy Jackson <br> O Ladrão de Raios</h1>
           
          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
            <p class="cards__year">Ano: 1997</p>
          </div>
        </div>
  
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/PJ2.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Percy Jackson <br> O Mar de Monstros</h1>
           
          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
            <p class="cards__year">Ano: 1997</p>
          </div>
        </div>
  
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/PJ3.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Percy Jackson <br> A Maldição do Titã</h1>
           
          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
            <p class="cards__year">Ano: 1997</p>
          </div>
        </div>
  
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/PJ4.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Percy Jackson <br> A Batalha do Labirinto</h1>
           
          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
            <p class="cards__year">Ano: 1997</p>
          </div>
        </div>
  
        <div class="cards__single">
          <div class="cards__front">
            <img
              class="cards__image"
              src="../img/PJ5.jpg"
              alt="Capa do livro: 'Harry Potter e a Pedra Filosofal'"
            />
            <h1 class="cards__artist" tabindex="0">Percy Jackson <br> O Último Olimpiano</h1>
            
          </div>
          <div class="cards__back">
            <h2 tabindex="0">Descrição</h2>
            <p class="autor">Autor(a): Emma Watson</p>
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>
            <p class="cards__year">Ano: 1997</p>
          </div>
        </div>
</main>
     

    <script src="../javascript/filtraLista.js"></script>
    <script src="../javascript/cardsFlip.js"></script>
</body>
</html>
